<div>
    <h1>Events</h1>
    <p>{{title}}</p>
  
  
</div>


<div class="row justify-content-center">
    <div class="col-md-9">
    <div *ngFor="let item of dataList">
<mdb-card class="pt-3">
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <mdb-card-img src="{{item.meta.image}}" alt="Card image cap" style="width: 25%; "></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <mdb-card-body>
      <mdb-card-title>
        <h4>{{item.title}}</h4>
      </mdb-card-title>
      <mdb-card-text>
        <p><strong>Venue</strong>: {{item.meta.venue}}</p>
        <p><strong>Description</strong>: {{item.meta.description}}</p>
      </mdb-card-text>
  
      <a  mdbBtn color="danger" mdbWavesEffect>Delete</a>
      <a  mdbBtn color="primary" mdbWavesEffect>Update</a>
    </mdb-card-body>
  </mdb-card>

    </div>
 <div>
    <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="openModal()">Add Event</button>
 </div>
</div>

</div>